
/* theme */

.theme{
  background-image: var(--bg-image-desktop);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: var(--background);
}



/* container */

.container{
  min-height: 100vh;
  position: relative;
  width: 100%;
  display: grid;
  justify-content: center;

}

/* main */

.main{
  padding-top: 5rem;
  display: grid;
  width: 500px;
  row-gap: 1.5rem;
  align-items: center;
  grid-template-rows:  repeat(4, min-content);
  grid-template-areas: 
  "title svg"
  "input input"
  "task task"
  "footer footer";
}
.main > .imageWrapper{
  grid-area: svg;
  box-sizing: content-box;
  justify-self: end;
  cursor: pointer;

}



.main > h1{
  grid-area: title;
  text-transform:uppercase;
  color: white;
  font-weight: var(--fw-400);
  letter-spacing: 10px;
  font-size: var(--fs-header);
}
.main > p{
  grid-area: footer;
  color:var(--footer-text);
  place-self: center;
  margin-top: 1rem;
  font-size: var(--fs-text);
}


/* form */

.form{
  grid-area: input;
  position: relative;
  display: flex;
  width: 100%;
  border-radius: 5px;
  align-items: center;
  background-color: var(--form-bg);
  padding: 1rem;

}
.form > label{
  width: 100%;
 
}
.form > label > input[type="text"]{
  width: 100%;
  border: none;
  height: 30px;
  font-size: var(--fs-text);
  font-family: var(--ff-josefin);
  background-color: transparent;
  color: var(--input-text);
  
}
.form > label > input[type="text"]:focus{
  outline: none;
  
}
.form > label > input[type="text"]::placeholder{
  color: var(--input-placeholder);
  font-size: var(--fs-text);
}



/* task container */

.taskItemContainer{
  grid-area: task;
  width: 100%;
  display: grid;
  row-gap: 0;
  border-radius: 5px;
  box-shadow: var(--boxshadow);
}

/* list filter */

.listFilter{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--task-container-bg);
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;

}
.listFilter > p{
  font-size: var(--fs-footer);
  color: var(--filter-text);
}
.listFilter > ul{
  display: flex;
  font-size: var(--fs-footer);
  color: var(--filter-text);
}

.listFilter > ul > li{
  margin-right: 1rem;
}
.active{
  color: var(--active-filter-color);
}
.listFilter > ul > li.active:hover{
  color: var(--active-filter-color);
}

.listFilter > p:hover, .listFilter > ul > li:hover{
  color: var(--filter-text-hover);
  cursor: pointer;
}


/* responsiveness */

/* tablet */

@media (min-width: 600px) and  (max-width: 1440px){

  /* theme */

  .theme{
    background-size: auto;
    width: 100%;
    background-position: top center;
  }
}

/* mobile */

@media (max-width:600px){

  /* theme */

  .theme{
    background-size: contain;
    width: 100%;
    background-image: var(--bg-image-mobile);
  }

  /* container */

  .container{
    justify-content:initial;
  }

  /* main */

  .main{
    width: 100%;
    padding: 1.5rem;
    row-gap: 1rem;
    margin-top: 1rem;
  }

  /* form */

  .form > label > input[type="text"]{
    height: 20px;
  }

  /* task container */

  .taskItemContainer{
    row-gap: 1.5rem;
    box-shadow: none;
  }

  /* list filter */

  .listFilter >p{
    display: none;
   
  }
  .listFilter {
    justify-content: center;
    align-content: center;
    border-radius: 5px;
    box-shadow: var(--boxshadow);
  }

}